GEMINI_API_KEY=<your api key>
GEMINI_MODEL=models/gemini-3.1-flash-lite-preview
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta

POSTGRES_IMAGE=postgres:16
POSTGRES_DB=aiagents
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres